
app-change-password {
  /*position: absolute;
  top: 252px;
  color: #000000;
  min-height: 1200px;
  left: 4.4%;
  right: 5%;
  font-weight: 300;
  font-size: 12px;*/
  // font-family: Poppins;
  ul li.neutral {
    margin-left: 12px;
    list-style-type: disc;
  }

  ul li.negative {
    color: #B1172E;
  }

  ul li.negative:before {
    content: 'x';
    margin-left: -3px;
  }

  ul li.positive {
    color: #69A188;
  }

  ul li.positive:before {
    content: '✓';
    margin-left: -3px;
  }
}
