<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <h1>Create your password</h1>
  <h2></h2>
  <h3>Your password must have:</h3>
  <ul style="list-style: none;">
    <li class="neutral">at least 8 characters</li>
    <li class="neutral">at least one symbol (eg ?!£%)</li>
    <li class="positive"> at least one uppercase character</li>
    <li class="negative"> at least one lowercase character</li>
  </ul>
  <form [class.error]="!formValid(formGroup)" (submit)="onSubmit(formGroup)" [formGroup]="formGroup">
    <div class="validation-message" *ngIf="!formValid(formGroup) && submitted">
      <ul style="list-style-type: none;color:red;">
        <li *ngIf="formGroup.controls['userName'].hasError('required')">Please enter your username.</li>
        <li *ngIf="formGroup.controls['password'].hasError('required')">Please enter a valid password.</li>
        <li *ngIf="formGroup.controls['password'].hasError('minlength')">Your password must be at least 8 characters.</li>
        <li *ngIf="formGroup.controls['confirmPassword'].hasError('required')">Passwords do not match</li>
      </ul>
    </div>
    <div style="padding-bottom:15px;"[class.invalid]="submitted && formGroup.controls.userName.invalid && formGroup.controls.userName.touched">
      <label>{{ 'USERNAME' | translate }}</label><br>
      <input placeholder="{{ 'USERNAME' | translate }}" name="userName" type="text" formControlName="userName">
    </div>
    <div style="padding-bottom:15px;" [class.invalid]="submitted && formGroup.controls.password.invalid && formGroup.controls.password.touched">
      <label>{{ 'PASSWORD' | translate }}</label><br>
      <input placeholder="{{ 'PASSWORD' | translate }}" name="password" type="password" formControlName="password">
    </div>
    <div style="padding-bottom:40px;" [class.invalid]="submitted && formGroup.controls.confirmPassword.invalid && formGroup.controls.confirmPassword.touched">
      <label>{{ 'CONFIRM_PASSWORD' | translate }}</label><br>
      <input placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" name="confirmPassword" type="password" formControlName="confirmPassword">
    </div>
    <button type="submit" style="background: rgba(11, 130, 139, 1);">Continue</button>
  </form>
  <!--<app-footer></app-footer>-->
</div>
