<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex" [@slide]="(sideNavVisible$ | async) ? 'close' : 'open'">
  <h1>Forgot your Password</h1>
  <div class="form">
    <form class="ui form login mb-two" [class.error]="!formValid(resetForm)" (submit)="onSubmit(resetForm)" [formGroup]="resetForm">
      <div class="ui segment">
        <div class="ui error message validation-message" *ngIf="!formValid(resetForm) && submitted">
          <ul style="list-style-type: none; margin-left: -40px;color:red;">
            <li *ngIf="resetForm.controls['userName'].hasError('required')">Please enter your username.</li>
          </ul>
        </div>
        <div class="field" [class.invalid]="submitted && resetForm.controls.userName.invalid && resetForm.controls.userName.touched">
          <label>{{ 'USERNAME' | translate }}</label><br>
          <input placeholder="{{ 'USERNAME' | translate }}" name="userName" type="text" formControlName="userName" class="mb-one">
        </div>
        <br>
        <button class="mb-one" type="submit">{{ 'RESET_PASSWORD_BTN' | translate }}</button>
        <button style="margin-left: 10px;"><a routerLink="/login">{{ 'BACK' | translate }}</a></button>
      </div>
    </form>
  </div>
</div>
