<!--<div class="mlp-app-shell-parent" style="z-index: 5;">
    <div class="mlp-app-hamburger">
        <mat-icon style="position: relative; top: 7px;" (click)="onToggle()">menu</mat-icon>
        <i class="fas fa-bars mlp-sidenav-trigger"></i>
        <div class="mlp-sidenav-menu"></div>
    </div>
    <div class="mlp-app-branding">
        <span class="mlp-app-title">
            <span class="mlp-toolbar-title" style="margin-left: -10px;">Conclave CCS</span>
        </span>
    </div>
    <div class="mlp-app-tabs">
        <div style="display: inherit; padding-top: 2px; float: right;">
            <button *ngIf="isAuthenticated() | async" mat-button style="border: solid 1px white; position:relative; top: -2px; color: white; margin-right: 10px;" (click)="logOut()">Log Out</button>
            <mat-icon class="mr-8" style="position: relative; top: 5px;color: white;">brightness_5</mat-icon>
            <mat-slide-toggle [formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
            <mat-icon style="position: relative; top: 5px;color: white;">bedtime</mat-icon>
        </div>
        <div class="mlp-app-tab" *ngFor="let tab of navLinks" [routerLink]="[tab.url]" (click)="navigate(tab)" [ngClass]="selectedTab === tab.name ? 'selected' : ''">
            <span *ngIf="!tab.subLinks">{{tab.name}}</span>
            <nz-dropdown [nzTrigger]="'click'" *ngIf="tab.subLinks">
                <a nz-dropdown class="mlp-tab-dropdown-trigger"> {{ tab.name }} &nbsp;<i class="fa fa-carret-down"></i></a>
                <ul nz-menu nzSelectable>
                    <li nz-menu-item *ngFor="let sublink of tab.subLinks" [routerLink]="[sublink.url]" (click)="navigate(tab,sublink)">{{sublink.name}}</li>
                </ul>
            </nz-dropdown>
        </div>
    </div>
</div>
<div class="content mat-app-background" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <router-outlet></router-outlet>
</div> -->
<app-topnav></app-topnav>
<div class="body-content">
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>